{% extends '_layouts/account' %}

{% set accountPage = 'password' %}

{% block title -%}
    Change Password | {{ parent() }}
{%- endblock %}

{% set user = user ?? currentUser %}

{% block content %}
    <div class="container mx-auto px-6">
        <div class="max-w-md mx-auto">
            <h1 class="page-heading">Change Password</h1>

            <form class="w-full" method="post" action="">
                {{ csrfInput() }}
                <input type="hidden" name="action" value="users/save-user">
                <input type="hidden" name="userId" value="{{ currentUser.id }}">

                <div class="mb-6">
                    {% include '_includes/text' with {
                        label: 'New Password',
                        name: 'newPassword',
                        error: user.getFirstError('newPassword'),
                        type: 'password'
                    } %}
                </div>
                <div class="mb-6">
                    {% include '_includes/text' with {
                        label: 'Your Password',
                        name: 'password',
                        type: 'password',
                        required: true,
                        error: user.getFirstError('password')
                    } %}
                </div>

                <button class="submit-btn" type="submit">Save</button>
            </form>
        </div>
    </div>
{% endblock %}
