@import "tailwind.pcss";
@import "nav.pcss";
@import "forms.pcss";
@import "cover-image.pcss";
@import "reactions.pcss";

#body-container {
  position: relative;
  z-index: 1;
}

.thumbnail {
  @apply block;
  @apply w-full;
  @apply bg-grey;
}

.page-heading {
  @apply text-grey-darkest mb-10;
}
